.header-container {
    background-color: #455880;
    display: flex;
    flex-direction: row;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem 1rem;
    min-width: 28rem;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 1000; /* to ensure it's above all the other content */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* visual separation */
}

.header-container .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.8rem;
    color: #fff
}

.header-container .navigation a:hover {
    color: #A0C0D5 /*#BF664D*/;
}

.header-container .navigation button {
    outline: none;
    color: #455880;
    background-color: #A0C0D5;
    padding: 0.6em 1.2em;
    border-radius: 16px;
    border: 1px solid transparent;
    font-size: 1em;
    cursor: pointer;
    transition: border-color 0.25s;
    font-family: inherit;
    font-weight: 500;
}

.header-container .navigation button:hover {
    color: #fff;
    background-color: #BF664D;
}

.header-container .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-width: 10rem;
}

.header-container .logo img {
    width: 2rem;
}

.header-container .logo h4 { 
    font-weight: 500;
}

.header-container .navigation img {
    width: 2rem;
    cursor: pointer;
}

.language-selector {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    cursor: pointer;
}

.language-selector .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #363636;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
  
.language-selector .dropdown div {
    padding: 8px 12px;
    cursor: pointer;
}
  
.language-selector .dropdown div:hover {
    color: #A0C0D5;
}

@media only screen and (max-width: 912px)  {
    .header-container .navigation {
        gap: 2rem;
    }
}

@media only screen and (max-width: 812px)  {
    .header-container .navigation {
        gap: 1.2rem;
    }
}

@media only screen and (max-width: 712px)  {
    .header-container .navigation {
        gap: 0.6rem;
    }
    .header-container {
        font-size: 14px;
    }
    .header-container .navigation button {
        padding: 0.6em 0.6em;
        border-radius: 12px;
    }
    /* virar menu sanduiche*/
}

@media only screen and (max-width: 612px)  {
    .header-container .navigation {
        gap: 0.4rem;
    }
    .header-container {
        font-size: 12px;
    }
    .header-container .navigation button {
        padding: 0.6em 0.4em;
        border-radius: 12px;
    }
    /* menu sanduiche*/
}

@media only screen and (max-width: 512px)  {
    .header-container .navigation {
        gap: 0.4rem;
    }
    .header-container {
        font-size: 12px;
    }
    .header-container .navigation button {
        padding: 0.4em 0.2em;
        border-radius: 12px;
    }
    /* menu sanduiche*/
}

html {
  scroll-padding-top: 4.6rem;
}