.aboutme-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem 14em;
    gap: 2rem;
}
.aboutme-container .aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    width: 24rem;
    min-width: 15rem;
}

/* .aboutme-container .aboutme h3 {
    font-size: 22px;
    margin: 0px;
} */

.aboutme-container .aboutme h4 {
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.aboutme-container .aboutme .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    padding: 1rem;
}

.aboutme-container .aboutme .links a {
    color: #BF664D;
}

.aboutme-container .image-card {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.aboutme-container .image-card .me {
    width: 16em;
    margin-bottom: 0px;
}

.aboutme-container .image-card .info-card {
    background-color: #363636;
    width: 16rem;
    display: flex;
    flex-direction: column;
    color: #fff;
    border-radius: 8px;
    padding: 1rem 0.8rem;
    gap: 0.4rem;
    margin-top: -10px;
}

.aboutme-container .image-card .info-card #contact {
    font-weight: 500;
    margin: 0px 0px 5px;
    font-size: 26px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.aboutme-container .image-card .info-card .each {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
}

.aboutme-container .image-card .info-card .each img {
    width: 30px;
}

.aboutme-container .image-card .info-card .each p {
    margin: 0px;
    padding: 0px;
}

/* display grid */