.cover-container {
    background-color: #455880;
    position: relative;
    text-align: center;
}

.cover-container .title-portfolio {
    position: relative;
    margin-top: -4.2rem;
    margin-bottom: -8rem;
    margin-left: 12rem;
    z-index: 10;
}

.cover-container .title-portfolio h1 {
    color: #fff;
    font-size: 100px;
}

.cover-container .cover {
    background-color: #455880;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 5.6rem;
}

.cover-container .cover .quote {
    width: 20rem;
    margin-top: 16rem;
    margin-right: -14rem;
    z-index: 6;
}

.cover-container .cover .quote p {
    color: #fff;
    font-size: 14px;
}

.cover-container .cover .subtitle-portfolio {
    margin-bottom: 1rem;
    margin-left: -10rem;
    z-index: 2;
}

.cover-container .cover h2 {
    color: #A0C0D5;
    font-size: 100px;
    line-height: 5px;
}

.cover-container .cover img {
    width: 22em;
    z-index: 4;
    margin-right: -0.4rem;
}

.cover-container .circle-container .circle {
    width: 6em;
    height: 6em;
    border-radius: 250px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #A0C0D5;
    margin-bottom: -3rem;
    cursor: pointer;
    font-size: 16px;
    color:#455880;
}

.cover-container .circle-container .circle:hover {
    color: #fff;
    background-color: #BF664D;
}

.cover-container .circle-container .circle h4 {
    font-weight: 500;
}

/* .cover-container .circle-container .circle h4 {
    font-size: 16px;
    color:#455880;
    font-weight: 500;
} */

.cover-container .circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    background: #363636;
    /* background: #BF664D; */
    width: 100%;
    height: 10rem;
    margin-top: -6rem;
}