.header-container {
    background-color: #455880;
    display: flex;
    flex-direction: row;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem
}

.header-container .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.8rem;
    color: #fff
}

.header-container .navigation button {
    outline: none;
    color: #fff;
    background-color: #A0C0D5;
    padding: 0.6em 1.2em;
    border-radius: 16px;
    border: 1px solid transparent;
    font-size: 1em;
    cursor: pointer;
    transition: border-color 0.25s;
    font-family: inherit;
    font-weight: 500;

}

.header-container .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem
}

.header-container .logo img {
    width: 2rem;
}

.header-container .logo h4 { 
    font-weight: 500;
}

.header-container .navigation img {
    width: 2rem;
    cursor: pointer;
}

.language-selector {
    position: relative;
}

.language-selector .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #363636;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
  
.language-selector .dropdown div {
    padding: 8px 12px;
    cursor: pointer;
}
  
.language-selector .dropdown div:hover {
    background-color: #A0C0D5;
}

/* adicionar hovers */